body /*ici on indique l'élément à modifier, soit tout ce qui est dans body*/
{ 
	background-color: #28282d; /*pantone anthracite 19-4007 */
	font-family: 'Roboto', sans-serif; /* je veux Roboto, sinon une police sans serif */
	width: 1000px;
	margin: auto;
}

.menu-container /* on met en page le bloc général ayant la class menu-container */
{
	/*background-color: blue; /*retirez les commentaires de cette ligne pour afficher le bloc en bleu*/
	display: flex; /* on indique qu'on veut utiliser la méthode flex */
	justify-content: center; /* on centre l'affichage des éléments dans le bloc */
}


.menu /* bloc comprenant img, h1, h2, nav*/
{
	display: flex; /* on active flex */
	justify-content: space-around; /* ici on joue sur la disposition des éléments */
	flex-direction: column; /* on veut afficher les différents blocs les uns en dessous des autres */
	align-items: center; /* ici on veut que les éléments soient alignés sur la même ligne*/
}

.top-header
{
	display: flex;
	justify-content: center;
}

.titles
{
	margin-left: 50px; /* je décolle les titres de l'image */
	text-align: center; /* pour centrer les titres l'un sous l'autre */
}

#pp /*SESSION 4 taille de l'image */
{
	width: 15%; /*pas de height */
}



h1 /*on veut modifier le titre h1 */
{
	color: #EDC373; /* Pantone 13-0932 Tcx Cornsilk Color */
	font-family: 'Press Start 2P', cursive; /* je veux Press Start 2P, sinon une police dite cursive */
}

h2 /*on veut modifier les titres h2 */
{
	color: #6667AB; /* Ppantone Veri Peri */
	font-family: 'Indie Flower', cursive; /* je veux Indie Flower, sinon une police dite cursive */
}

nav ul /* SESSION 4 on masque les puces de la liste à puces */
{
	list-style-type: none;
	display: flex; /* on aligne les liens à l'horizontale */
}

nav li
{
	margin: 15px; /* on ajoute de l'espace entre les différents éléments de la liste pour que ce soit lisible */
}


h3 /*on veut modifier TOUS les titres h3 */
{
	color: #86A1A9; /* Pantone 16-4411 Tcx Tourmaline Color */
}

p /*on veut modifier TOUS les paragraphes */
{
	color: #f0eee9; /*Pantone 11-4201 Tcx Cloud Dancer*/
}

ul
{
	color: #f0eee9; /*Pantone 11-4201 Tcx Cloud Dancer*/
}

a /*on veut modifier TOUS les liens */
{
	color: #D3507A; /*Pantone 18-2133 Tcx Pink Flambé Color*/
}

a:hover /*hover indique "au survol du curseur de la souris */
{
	color: #EDC373; /* je veux que mes liens aient une autre couleur au survol */
}


main
{
	/*background-color: blueviolet; /* ceci est ma couleur de test pour voir les effets 
	de mes modifications sur le bloc main*/
	display: flex; /* pour passer le aside sur la droite */
	padding: 5px;
}

.bloc1
{
	/*background-color: red; /*couleur de test*/
	margin-right: 20px;
}

section
{
	/*background-color: gray; /* couleur de test */
	padding-left: 5px;
	padding-right: 100px;
	padding-bottom: 50px;
}

section ul
{
	list-style-type: none;
}

aside
{
	/*background-color: green; /* couleur de test */
	border-left: 3px solid #fff;
	padding-left: 15px;
}

aside ul
{
	list-style-type: none;
}

footer
{
	/*background-color: orange;*/
	display: flex;
	justify-content: space-around;
	padding-bottom: 50px;
}

.blocf1, .blocf2, .blocf3
{
	text-align: center;
}